@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #3b82f6;
  --color-accent: #f59e0b;
}

/* Leaflet CSS fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}
